$primary-text-color: #001e41;
$grey-color: #909090;
$btn-color: #5d78ff;
$active-color: rgb(48, 48, 224);
$primary-white-color: #ffffff;
$main-background-color: #e2f2ff;
$card-background-color: #f8f8fa;
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
